<% layout("/layouts/boilerplate.ejs") -%>
<body>

    <div class="row offset-2">     <!--hame ek row mai sab dal diye-->
        <div class="col-8"> <!--agar 12 part mai col hai to use 8col kar do-->
            <br><br>
        <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">   <!--default browser invalidat-->
        <div>
        <label for="title" class="form-label" >Title</label>
        <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" id="title" required>  <!--form validation-->
        <div class="valid-feedback">Title looks good</div>   <!--feeback form compleation-->
        </div>
        <br>
        <br>
        <div>
        <label for="description" class="form-label">Description</label>
        <br>
        <textarea name="listing[description]" placeholder="enter description" class="form-control" id="description" required></textarea>
        <div class="invalid-feedback">Please a short description</div>
        </div>
        <br>
        <div>
        <label for="image" class="form-label">Upload listing Image</label>
        <input name="listing[image]" placeholder="" type="file" id="image" class="form-control">
        </div>
        <br>
        <br>
        <div class="row">
        <div class="col-md-4"> <!--sirf medium pe 4 le small full le-->
        <label for="price" class="form-label">price</label>
        <input name="listing[price]" placeholder="1200" id="price" class="form-control" required>
        <div class="invalid-feedback">Price should be valid</div>
        </div>
        <br>
        <br>
        <div class="col-md-8">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" placeholder="india" id="country" class="form-control" required>
        <div class="invalid-feedback">Country shouldbe valid</div>
        </div>
        </div>
        <br>
        <br>
        <div>
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" placeholder="jaipur, Rajasthan" type="text" class="form-control" id="location" required>
        <div class="invalid-feedback">Location should be valid</div>
        </div>
        <br>
        <button class="btn btn-dark add-btn">submit</button>
        <br><br>
    </form>
    </div>
    </div>
</body>
