body {
     font-family: "Plus Jakarta Sans", sans-serif !important;
     display: flex;
     flex-direction: column;
     height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    /* height: 6rem; */
    background-color: white;
    margin-bottom: 2rem;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}


.f-info-links, .f-info-socials {
    width: 100%;
}



.f-info-socials i{
    margin-left: 1rem;
    font-size: 1.2rem;
}


.f-info{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    height: 8rem;
    background-color: #ebebeb;
    align-items: center;
    flex-wrap: wrap;
}


/* card */

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}

.listing-links {
    text-decoration: none;
}

/* card Effect */


.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* new page */

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}


/* show page  */

.show-img{
    height: 30vh;
}


/* map */
#map {
   height: 400px;
   width: 80vh;
}